
.welcome {
    -fx-border-color: #86ccce;       /* Border color */
    -fx-border-width: 2px;           /* Border width */
    -fx-border-radius: 30px;         /* Rounded corners */
    -fx-background-color: #ffffff;   /* Background color */
    -fx-font-weight: bold;
}
